<div class="navigation">
  <span class="link">
    <div class="icon" inlineSVG="/assets/vectors/angular-solid.svg"></div>
  </span>
  <ng-container *ngFor="let route of routes">
    <a *ngIf="authService.isAdmin() || !route.isAdmin"  class="link animated" [routerLink]="route.path" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <div [class]="'icon ' + (route.class || '')" [inlineSVG]="route.iconUrl"></div>
      <span>{{route.title}}</span>
    </a>
  </ng-container>
</div>