.message {
  padding: 60px 0px 20px 40px;
  font-size: 1.3em;
  cursor: pointer;
}

.mode {
  display: inline-block;
  transition: 0.5s all;
  border-bottom: 2px solid transparent;
}

.mode.active {
  border-color: #58D68D;
}

.mode:not(.active) {
  color: grey;
}

.mode:hover {
  color: black;
}

.form {
  text-align: left;
}

.input-group {
  margin: 20px 40px 0px;
}

.input-group.invisible {
  visibility: hidden;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  font-size: 0.95em;
  padding: 6px 3px;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid grey;
}

.input-group .ng-valid {
  border-color: #58D68D;
}

.input-group .ng-dirty.ng-invalid,
.input-group .ng-dirty.invalid {
  border-color: #E74C3C;
}

.button {
  background: transparent;
  border: none;
  outline: none;
  margin: 50px 40px;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s all;
}

.button:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
}

.button.sign-in {
  margin-top: 103px;
}

.button.active {
  background: white;
  margin-top:47px;
  padding: 8px 23px;
}

.info-image {
  width: 1em;
  transform: translateY(15%);
  opacity: 0.7;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 140%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}