<div *ngIf="state && state.stats">
  <div class="title">Dashboard</div>
  <div *ngIf="state.stats.winCount === 0 && state.stats.lossCount === 0 && state.stats.unfinishedCount === 0">
    No data
  </div>
  <div *ngIf="state.stats.winCount > 0 || state.stats.lossCount > 0 || state.stats.unfinishedCount > 0" class="flex">
    <div class="wl-chart chart">
      <div>Win/Loss Ratio</div>
      <canvas id="wl-chart">
      </canvas>
    </div>
    <div class="played-chart chart">
      <div>Finished/Unfinished Games Ratio</div>
      <canvas id="played-chart">
      </canvas>
    </div>
  </div>
  <div *ngIf="state.lastMatches.length > 0">
    <div class="heading">Last Matches</div>
    <div *ngFor="let match of state.lastMatches">
      {{match.whitePlayerEmail}} vs. {{match.blackPlayerEmail}}
    </div>
  </div>
</div>