<div [class.slide-out]="slideOut">
  <app-header></app-header>
  <div class="home">
    <div class="welcome">
      <div>Welcome Text</div>
      <p>Short welcome paragraph</p>
      <span class="button sign-in" (click)="showModal = true">Sign in button</span>
      <h3></h3>
      <div *ngIf="showModal" class="modal">
        <app-authenticate (hide)="hideModal($event)"></app-authenticate>
      </div>
    </div>
    <div class="chessboard">
      <app-chessboard [isLanding]="true"></app-chessboard>
    </div>
  </div>
</div>