.slide-out {
  animation: slide-out-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both 0.4s;
}

.home {
  display: flex;
  margin: 0 2.5%;
}

@media screen and (max-width: 500px) {
  .home {
    display: block;
  }
}

.welcome {
  flex: 1 1 auto;
  text-align: center;
  padding: 10px;
}

.title {
  margin: 10% 0 5%;
  font-size: 1.9em;
}

.title-sm {
  margin-bottom: 20%;
  font-size: 1.5em;
}

.button {
  font-size: 1.5em;
  padding: 6px 12px;
  border: 1px solid black;
  border-radius: 1px;
  cursor: pointer;
  background: #FFFFFF;
  transition: 0.5s all;
}

.button:hover {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.35);
}

.chessboard {
  flex: 0 0 50%;
  max-width: 500px;
  padding: 10px 0px;
  margin-left: auto;
}

.reviews {
  padding: 30px;
  background: rgba(0, 0, 0, 0.6);
}

.review {
  display: flex;
  justify-content: space-between;
  font-family: 'Apple Chancery';
  color: #FFFFFF;
}

.review-image {
  max-height: 400px;
  filter: grayscale(70%);
}

.review-block {
  display: block;
  margin: auto;
}

.review-text {
  font-size: 2.2em;
}

.review-author {
  font-size: 1.3em;
  margin: 20px 0px 0px 25px;
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}
