.chessboard {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  background: white;
  transform: translate(0,0);
}

.message {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.tile {
  padding-bottom: 12.5%;
  flex: 0 0 12.5%;
}

.highlighted.highlighted {
  background: yellow;
  cursor: pointer;
}

.possible-move {
  cursor: pointer;
}

.black {
  background: #888888;
}

.piece {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 11.5%;
  height: 11.5%;
  transition: 1s all;
}

.piece:hover {
  cursor: pointer;
}
