<div class="container">
  <div class="title-bar">
   <div class="title">Rooms</div>
   <div *ngIf="!createdRoom" class="create-btn" [class.shaking]="rooms.length === 0" (click)="createRoom()">Create room</div>
  </div>
  <div *ngIf="rooms.length === 0 && renderCount >= 2" class="linux-mascot">
    <!-- only chrome displays svg well, falls back to object for other browsers -->
    <div *ngIf="chrome" inlineSVG="assets/vectors/linux-empty-opt3.svg"></div>
    <object *ngIf="!chrome" data="assets/vectors/linux-empty-opt3.svg"></object>
  </div>
  <div *ngIf="rooms.length !== 0" class="flex">
    <div class="filter">
      <!-- FIXME: selected -->
      <div class="type selected">All <span class="count">{{rooms.length}}</span></div>
      <div class="type">Public <span class="count">{{rooms.length}}</span></div> <!-- ENHANCEMENT: implement -->
      <div class="type">Private <span class="count">0</span></div>
    </div>
    <div class="list">
      <div *ngFor="let room of rooms" class="room-container">
        <div class="room"> <!-- ENHANCEMENT: apply special styling to own room -->
          <div>
            <div class="avatar" [inlineSVG]="'assets/vectors/animals/'+room.host.avatarUrl"></div>
            <div class="host">{{room.host.email === this.user.email ? 'You' : room.host.email}}</div>
          </div>
          <!-- ENHANCEMENT: add %d seconds ago live timer with moment -->
          <div *ngIf="room.host.email !== this.user.email" class="join-btn">
            <div class="join-img" inlineSVG="assets/vectors/sign-in-alt-solid.svg" (click)="joinRoom(room)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>