<div class="absolute" [class.fade-out]="slideBackUp" (click)="slideUp($event)">
  <div class="big-screen" [class.slide-back]="slideBackUp">
    <div class="flex">
      <div class="screen">
        <div class="heading">Join the largest community of chess enthusiasts in the world</div>
        <img class="image" src="/assets/vectors/user-friends-solid.svg" alt="">
        <!-- ENHANCEMENT: add more slides here -->
      </div>
      <div class="screen">
        <app-auth-form (hide)="slideUp(true)"></app-auth-form>
      </div>
    </div>
  </div>
</div>