.padding-sm {
  padding: 10px;
  margin-bottom: 10px;
}

.logo {
  display: block;
  color:#000000;
  text-align: center;
  /* transition: 0.2s transform; */
  /* border-bottom: 2px solid transparent; */
  user-select: none;
}

.logo-image {
  width: auto;
  height: 66px;
  display: inline-block;
  transform: translateY(14px);
}

.title {
  font-size: 50px;
  margin-left: 10px;
}
