.padding-sm {
  padding: 10px;
  margin-bottom: 10px;
}

.logo {
  cursor: pointer;
  transition: 0.2s transform;
  border-bottom: 2px solid transparent;
}

.logo:hover {
  border-bottom: 2px solid black;
}

.logo:active {
  transform: scale(1.025);
}

.logo-image {
  width: auto;
  height: 66px;
  display: inline-block;
  transform: translateY(10px);
}

.title {
  font-size: 50px;
  margin-left: 10px;
  user-select: none;
}

.menu {
  margin-left: auto;
  font-size: 1.5em;
  align-self: flex-end;
}

.menu > * {
  padding: 5px 5px 10px;
}